<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8" /><title>Aggiungi Punto Vendita</title></head>
<body>
    <h1>Aggiungi Punto Vendita</h1>
    <form th:action="@{/puntiVendita/aggiungi}" th:object="${puntoVendita}" method="post">
        <label>Città:</label>
        <input type="text" th:field="*{citta}" required />
        <br/>
        <label>Indirizzo:</label>
        <input type="text" th:field="*{indirizzo}" required />
        <br/>
        <button type="submit">Aggiungi</button>
    </form>
    <a href="/puntiVendita">Annulla</a>
</body>
</html>
